{{ define "plans_content" }}
{{ $sortField := .SortPlans.SortField }}
{{ $sortOrder := .SortPlans.SortOrder }}
{{ $startDate := .SortPlans.StartDate }}
{{ $endDate := .SortPlans.EndDate }}
{{ $idProd := .SortPlans.IdProduction }}
{{ $prName := .SortPlans.PrName }}


{{ $production := "" }}
{{ if .Productions }}
{{ if gt (len .Productions) 0 }}
{{ $production = index .Productions 0 }}
{{ end }}
{{ end }}


<div class="d-flex justify-content-between align-items-center mt-2">
    <h1 class="h2 mb-3">{{ .Title }}</h1>
    <button class="btn btn-primary btn-lg" id="addProductionBtn"
            onclick="window.open('/aforms/plans/add', '_self')">
        <i class="bi bi-plus-circle"></i> Добавить сменно-суточное задание
    </button>
</div>

<!--В ДАЛЬНЕЙШЕМ БУДЕТ ПОИСК-->
<!-- Форма фильтрации по датам -->
<div class="card mb-1">
    <div class="card-body">
        <form method="GET" action="/aforms/plans" id="dateFilterForm" class="row g-3 align-items-end">
            <!-- Скрытые поля для сохранения сортировки -->
            <input type="hidden" name="sort" value="{{ $sortField }}">
            <input type="hidden" name="order" value="{{ $sortOrder }}">

            <div class="col-md-1">
                <label for="startDate" class="form-label">Дата с:</label>
                <input type="date"
                       class="form-control form-control-sm"
                       id="startDate"
                       name="startDate"
                       value="{{ if $startDate }}{{ $startDate }}{{ end }}">
            </div>

            <div class="col-md-1">
                <label for="endDate" class="form-label">Дата по:</label>
                <input type="date"
                       class="form-control form-control-sm"
                       id="endDate"
                       name="endDate"
                       value="{{ if $endDate }}{{ $endDate }}{{ end }}">
            </div>

            <div class="col-md-3">
                <label for="PrName" class="form-label">
                    Варианты упаковки продукции
                </label>
                <div class="input-group input-group-sm ">
                    <input type="hidden"
                           id="idProduction"
                           name="idProduction"
                           value="{{ if $idProd }}{{ $idProd }}{{ end }}">

                    <input type="text"
                           class="form-control form-control-sm px-3 rounded-start"
                           id="PrName"
                           name="PrName"
                           value="{{ if $prName }}{{ $prName }}{{ end }}"
                           readonly>

                    <!-- Кнопка выбора из модального окна -->
                    <button class="btn btn-outline-secondary rounded-end"
                            type="button"
                            data-bs-toggle="modal"
                            data-bs-target="#productionModal">
                        ...
                    </button>

                </div>

            </div>


            <div class="col-md-1">
                <button type="submit" class="btn btn-primary w-70">
                    <i class="bi bi-funnel"></i> Применить
                </button>
            </div>
        </form>

        <!-- Отображение активного фильтра -->
        {{ if or $startDate $endDate }}
        <div class="mt-2">
            <small class="text-muted">
                <i class="bi bi-filter"></i> Активный фильтр:
                {{ if $startDate }}с {{ $startDate }}{{ end }}
                {{ if $endDate }}по {{ $endDate }}{{ end }}
                <a href="/aforms/plans?sort={{ $sortField }}&order={{ $sortOrder }}"
                   class="text-danger ms-2 text-decoration-none">
                    <i class="bi bi-x"></i> Сбросить (по умолчанию 180 дней)
                </a>
            </small>
        </div>
        {{ end }}
    </div>
</div>

<!-- Карточка с таблицей - всегда отображаем -->
<div class="card shadow-sm">
    <div class="card-body p-0">

        <div class="table-responsive" style="min-width: 1200px;">

            <!-- Добавляем контейнер для скролла -->
            <div style="height: calc(100vh - 400px); overflow-y: auto; position:relative;">
                <table class="table table-hover mb-0" style="min-width: 1200px;" id="productionsTable">

                    <colgroup>
                        <col style="width: 70px"> <!-- АРТИКУЛ-->
                        <col style="width: 500px"> <!-- ПРОДУКЦИЯ-->
                        <col style="width: 60px"> <!-- КОД ПЛАНА-->
                        <col style="width: 60px"> <!-- СМЕНА-->
                        <col style="width: 90px"> <!-- КОД ПРОДУКЦИИ-->
                        <col style="width: 240px"> <!-- УЧАСТОК-->
                        <col style="width: 60px"> <!-- КОД УЧАСТКА-->
                        <col style="width: 80px"> <!-- ПЛАНОВОЕ КОЛ-ВО-->
                        <col style="width: 100px"> <!-- ДАТА ПЛАНА-->
                        <col style="width: 110px"> <!-- КОММЕНТАРИИ-->
                        <col style="width: 150px"> <!-- ДАТА И ВРЕМЯ ИЗМЕНЕНИЯ ЗАПИСИ-->
                        <col style="width: 140px"> <!-- ТИП ПРОДУКЦИИ-->
                        <col style="width: 110px"> <!-- ЦВЕТ-->
                        <col style="width: 110px"> <!-- КОЛ-ВО В РЯДУ-->
                        <col style="width: 110px"> <!-- КОЛ-ВО РЯДОВ-->
                        <col style="width: 110px"> <!-- ВЕС УПАКОВКИ-->
                        <col style="width: 110px"> <!-- ГАБАРИТЫ УПАКОВКИ-->
                        <col style="width: 110px">
                    </colgroup>

                    <thead class="table-light"
                           style="position: sticky; top: 0; z-index: 10; background-color: #f8f9fa;">
                    <tr>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrArticle` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Артикул
                                {{ if eq $sortField "PrArticle" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header " style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrName` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Наименование продукция
                                {{ if eq $sortField "PrName" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `IdPlan` }}"
                               class="text-decoration-none text-dark d-flex align-items-center justify-content-center w-100 h-100">
                                <div class="d-flex flex-column align-items-center me-1">
                                    <span>Код</span>
                                    <span>плана</span>
                                </div>
                                {{ if eq $sortField "IdPlan" }}
                                <span class="sort-indicator ms-1">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header" style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PlanShift` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Смена
                                {{ if eq $sortField "PlanShift" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `ExtProduction` }}"
                               class="text-decoration-none text-dark d-flex align-items-center justify-content-center w-100 h-100">
                                <div class="d-flex flex-column align-items-center me-2">
                                    <span>Код</span>
                                    <span>продукции</span>
                                </div>
                                {{ if eq $sortField "ExtProduction" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `SectorName` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Участок
                                {{ if eq $sortField "SectorName" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `ExtSector` }}"
                               class="text-decoration-none text-dark d-flex align-items-center justify-content-center w-100 h-100">
                                <div class="d-flex flex-column align-items-center me-1">
                                    <span>Код</span>
                                    <span>участка</span>
                                </div>
                                {{ if eq $sortField "ExtSector" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PlanCount` }}"
                               class="text-decoration-none text-dark d-flex align-items-center justify-content-center w-100 h-100">
                                <div class="d-flex flex-column align-items-center me-2">
                                    <span>Плановое</span>
                                    <span>кол-во</span>
                                </div>
                                {{ if eq $sortField "PlanCount" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PlanDate` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Дата плана
                                {{ if eq $sortField "PlanDate" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PlanInfo` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Заметки
                                {{ if eq $sortField "PlanInfo" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PlEditDate` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Дата и время <br> изменение записи
                                {{ if eq $sortField "PlEditDate" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrType` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Тип продукции
                                {{ if eq $sortField "PrType" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>


                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrColor` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Цвет
                                {{ if eq $sortField "PrColor" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrCount` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Кол-во <br> в ряду
                                {{ if eq $sortField "PrCount" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrRows` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Кол-во <br> рядов
                                {{ if eq $sortField "PrRows" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrWeight` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Вес упаковки <br> (кг)
                                {{ if eq $sortField "PrWeight" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="{{ buildSortURL $sortField $sortOrder $startDate $endDate `PrHWD` }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Габариты упаковки
                                {{ if eq $sortField "PrHWD" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap text-center" style="padding-bottom: 13px;">Операции</th>

                    </tr>
                    </thead>
                    <tbody>

                    {{ range .Plans }}
                    <tr>
                        <td class="text-center">{{ .ProductionModel.PrArticle }}</td>
                        <td>{{ .ProductionModel.PrName }}</td>
                        <td class="text-center">{{ .IdPlan }}</td>
                        <td class="text-center">{{ .PlanShift }}</td>
                        <td class="text-center">{{ .ExtProduction }}</td>
                        <td>{{ .SectorModel.SectorName }}</td>
                        <td class="text-center">{{ .ExtSector }}</td>
                        <td class="text-center">{{ .PlanCount }}</td>
                        <td class="text-center">{{ formatDate .PlanDate }}</td>
                        <td>{{ .PlanInfo }}</td>
                        <td class="text-center">{{ formatDateTime .PlEditDate }}</td>
                        <td class="text-center">{{ .ProductionModel.PrType }}</td>
                        <td class="text-center">{{ .ProductionModel.PrColor }}</td>
                        <td class="text-center">{{ .ProductionModel.PrCount }}</td>
                        <td class="text-center">{{ .ProductionModel.PrRows }}</td>
                        <td class="text-center">{{ .ProductionModel.PrWeight }}</td>
                        <td class="text-center">{{ .ProductionModel.PrHWD }}</td>

                        <!-- Кнопки операций -->
                        <td>
                            <div class="d-flex justify-content-center gap-1">
                                <!-- Кнопка редактирования -->
                                <button class="btn btn-sm btn-outline-primary edit-btn px-1 py-1"
                                        title="Редактировать"
                                        onclick="window.open('/aforms/plans/upd?idPlan={{ .IdPlan }}', '_self')">
                                    <span>✏️</span>
                                </button>
                                <button class="btn btn-sm btn-outline-success copy-btn px-2 py-1"
                                        title="Создать на основе этой записи"
                                        onclick="window.open('/aforms/plans/add?basedOn={{ .IdPlan }}', '_self')">
                                    <span>📋</span>
                                </button>
                            </div>
                        </td>

                    </tr>
                    {{ end }}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="alert {{ if eq (len .Plans) 0 }}alert-warning{{ else }}alert-info{{ end }} mt-2 py-1 px-3">
    <i class="bi bi-{{ if eq (len .Plans) 0 }}exclamation-triangle{{ else }}info-circle{{ end }}"></i>
    Всего: {{ len .Plans }}
    <!--    Всего найдено: {{ len .Productions }} вариантов упаковки-->
</div>

<div class="modal fade" id="productionModal" tabindex="-1" aria-labelledby="productionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="min-width: 1200px;">

            <div class="modal-header py-1">
                <h5 class="modal-title fs-6" id="productionModalLabel">Выбор варианта упаковки продукции</h5>
                <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>

            <div class="modal-body py-2">

                <div class="mb-2">
                    <label for="productionSearch">
                        Поле поиска
                    </label>
                    <input type="text"
                           class="form-control form-control-sm"
                           id="productionSearch"
                           placeholder="Поиск по артикулу, наименованию...">
                </div>

                <div class="table-responsive" style="max-height: 500px; overflow-y: auto;">
                    <table class="table table-sm table-hover mb-0" style="line-height: 1.2; min-width: 850px;">
                        <thead>
                        <tr>
                            <th class="py-0 align-middle" style="width: 100px; height: 24px;">Артикул</th>
                            <th class="py-0 align-middle" style="height: 24px; min-width: 200px;">Наименование продукции
                                для упаковщика
                            </th>
                            <th class="py-0 align-middle" style="height: 24px; min-width: 150px;">Наименование продукции
                                для этикетки
                            </th>
                            <th class="py-0 align-middle text-center" style="width: 70px; height: 24px;">Цвет</th>
                            <th class="py-0 align-middle text-center" style="width: 70px; height: 24px;">Кол-во рядов
                            </th>
                            <th class="py-0 align-middle text-center" style="width: 70px; height: 24px;">Кол-во в ряду
                            </th>
                            <th class="py-0 align-middle text-center" style="width: 70px; height: 24px;">Код продукции
                            </th>
                            <th class="py-0 align-middle text-center" style="width: 90px; height: 24px;">Дата и время
                                изменения записи
                            </th>
                            <th class="py-0 align-middle text-center" style="width: 100px; height: 24px;">Действие</th>
                        </tr>
                        </thead>
                        <tbody id="productionTableBody">
                        {{ range .Productions }}
                        <tr style="height: 28px;">
                            <td class="py-0 align-middle">{{ .PrArticle }}</td>
                            <td class="py-0 align-middle text-truncate" style="max-width: 200px;">{{ .PrName }}</td>
                            <td class="py-0 align-middle text-truncate" style="max-width: 150px;">{{ .PrPackName  }}</td>
                            <td class="text-center py-0 align-middle">{{ .PrColor }}</td>
                            <td class="text-center py-0 align-middle">{{ .PrRows }}</td>
                            <td class="text-center py-0 align-middle">{{ .PrCount }}</td>
                            <td class="text-center py-0 align-middle">{{ .IdProduction }}</td>
                            <td class="py-0 align-middle">{{ formatDateTime .PrEditDate }}</td>

                            <td class="text-center py-0 align-middle">
                                <button type="button"
                                        class="btn btn-sm btn-outline-primary select-production-name py-1 px-2"
                                        data-prname="{{ .PrName }}"
                                        data-id="{{ .IdProduction }}"
                                        style="font-size: 0.75rem; line-height: 1;">
                                    Выбрать
                                </button>
                            </td>
                        </tr>
                        {{ end }}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>

<!--<script src="../../js/plans.js"></script>-->

{{ end }}