{{ define "productions_content" }}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="h2 mb-3">{{ .Title }}</h1>
</div>

<!-- Карточка с таблицей - всегда отображаем -->
<div class="card shadow-sm">
    <div class="card-body p-0">

        <div class="table-responsive" style="min-width: 1200px;">

            <!-- Добавляем контейнер для скролла -->
            <div style="height: calc(100vh - 400px); overflow-y: auto; position:relative;">
                <table class="table table-hover mb-0" style="min-width: 1200px;" id="productionsTable">

                    <colgroup>
                        <col style="width: 60px">
                        <col style="width: 550px">
                        <col style="width: 500px">
                        <col style="width: 120px">
                        <col style="width: 60px">
                        <col style="width: 60px">
                        <col style="width: 100px">
                        <col style="width: 80px">
                        <col style="width: 110px">
                    </colgroup>

                    <thead class="table-light" style="position: sticky; top: 0; z-index: 10; background-color: #f8f9fa;">
                    <tr>
                        <th class="text-nowrap sortable-header" style="position: relative;">
                            <a href="?sort=PrArticle&order={{ if eq .SortProducts.SortField `PrArticle` }}{{ if eq .SortProducts.SortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Артикул
                                {{ if eq .SortProducts.SortField "PrArticle" }}
                                <span class="sort-indicator position-absolute" style="right: 5px;">
                                    {{ if eq .SortProducts.SortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>

                            </th>
                        <th class="text-nowrap">Наименование продукции для упаковщика</th>
                        <th class="text-nowrap">Наименование продукции для этикетки</th>
                        <th class="text-nowrap text-center">Цвет</th>
                        <th class="text-nowrap text-center">Кол-во <br> рядов</th>
                        <th class="text-nowrap text-center">Кол-во <br> в ряду</th>
                        <th class="text-nowrap text-center">Габариты <br> упаковки</th>
                        <th class="text-nowrap text-center">Код <br> продукции</th>
                        <th class="text-nowrap text-center">Дата и время <br> изменение записи</th>
                    </tr>
                    </thead>
                    <tbody>

                    {{ range .Productions }}
                    <tr>
                        <td>{{ .PrArticle }}</td>
                        <td>{{ .PrPackName }}</td>
                        <td>{{ .PrShortName }}</td>
                        <td class="text-center">{{ .PrColor }}</td>
                        <td class="text-center">{{ .PrRows }}</td>
                        <td class="text-center">{{ .PrCount }}</td>
                        <td>{{ .PrHWD }}</td>
                        <td class="text-center">{{ .IdProduction }}</td>
                        <td>{{ formatDateTime .PrEditDate }}</td>
                    </tr>
                    {{ end }}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ end }}