{{ define "productions_content" }}
{{ $sortField := .SortProducts.SortField }}
{{ $sortOrder := .SortProducts.SortOrder }}

<div class="d-flex justify-content-between align-items-center">
    <h1 class="h2 mb-3">{{ .Title }}</h1>
</div>


<!-- Блок поиска всегда отображается -->
<div class="search-container mb-3">
    <form method="GET" action="/aforms/productions" class="row g-2" id="searchForm">
        <div class="col-auto">

            <!--            Поиск по АРТИКУЛУ -->
            <label for="searchArticle" style="position: relative; display: inline-block;">
                <input type="text"
                       name="articles"
                       id="searchArticle"
                       class="form-control form-control-sm"
                       style="width: 15ch; padding-right: 15px;"
                       placeholder="Поиск по арт..."
                       value="{{ .SearchProducts.SearchArticle }}"
                       autocomplete="off"
                       maxlength="7">

                {{if .SearchProducts.SearchArticle }}
                <span id="clearSearchIconArticle"
                      style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%); cursor: pointer; color: #999; font-size: 14px;">
        ✗
    </span>
                {{end}}
            </label>

            <!--            ПОИСК по НАИМЕНОВАНИЮ ПРОДУКЦИИ ДЛЯ УПАКОВЩИКОВ -->
            <label for="searchName" style="position: relative; display: inline-block;">
                <input type="text"
                       name="name"
                       id="searchName"
                       class="form-control form-control-sm"
                       style="width: 35ch; padding-right: 15px;"
                       placeholder="Поиск по наименованию для упак..."
                       value="{{ .SearchProducts.SearchName }}"
                       autocomplete="off"
                       maxlength="25">

                {{if .SearchProducts.SearchName }}
                <span id="clearSearchIconName"
                      style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%); cursor: pointer; color: #999; font-size: 14px;">
        ✗
    </span>
                {{end}}
            </label>

            <!--            ПОИСК по КОДУ ПРОДУКЦИИ -->
            <label for="searchIdProduction" style="position: relative; display: inline-block;">
                <input type="text"
                       name="idProduction"
                       id="searchIdProduction"
                       class="form-control form-control-sm"
                       style="width: 30ch; padding-right: 15px;"
                       placeholder="Поиск по коду продукции..."
                       value="{{ .SearchProducts.SearchId }}"
                       autocomplete="off"
                       maxlength="25">

                {{if .SearchProducts.SearchId }}
                <span id="clearSearchIconIdProduction"
                      style="position: absolute; right: 8px; top: 50%; transform: translateY(-50%); cursor: pointer; color: #999; font-size: 14px;">
        ✗
    </span>
                {{end}}
            </label>

        </div>
    </form>

    {{ if and .IsSearch (ne .SearchProducts.SearchArticle "") }}
    <!-- Показываем только когда есть поисковый запрос -->
    <div class="alert {{ if eq (len .Productions) 0 }}alert-warning{{ else }}alert-info{{ end }} mt-2 py-1 px-3">
        <i class="bi bi-{{ if eq (len .Productions) 0 }}exclamation-triangle{{ else }}info-circle{{ end }}"></i>
        {{ if eq (len .Productions) 0 }}
        По запросу "{{ .SearchProducts.SearchArticle }}" ничего не найдено
        {{ else }}
        По запросу "{{ .SearchProducts.SearchArticle }}" найдено: {{ len .Productions }} вариантов упаковки
        {{ end }}
    </div>
    {{ end }}
</div>

<!-- Карточка с таблицей - всегда отображаем -->
<div class="card shadow-sm">
    <div class="card-body p-0">

        <div class="table-responsive" style="min-width: 1200px;">

            <!-- Добавляем контейнер для скролла -->
            <div style="height: calc(100vh - 400px); overflow-y: auto; position:relative;">
                <table class="table table-hover mb-0" style="min-width: 1200px;" id="productionsTable">

                    <colgroup>
                        <col style="width: 68px">
                        <col style="width: 550px">
                        <col style="width: 500px">
                        <col style="width: 120px">
                        <col style="width: 60px">
                        <col style="width: 60px">
                        <col style="width: 100px">
                        <col style="width: 80px">
                        <col style="width: 110px">
                    </colgroup>

                    <thead class="table-light"
                           style="position: sticky; top: 0; z-index: 10; background-color: #f8f9fa;">
                    <tr>

                        <th class="text-nowrap sortable-header" style="position: relative; padding-bottom: 13px;">
                            <a href="?sort=PrArticle&order={{ if eq $sortField `PrArticle` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Артикул
                                {{ if eq $sortField "PrArticle" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header" style="position: relative; padding-bottom: 13px;">
                            <a href="?sort=PrPackName&order={{ if eq $sortField `PrPackName` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Наименование продукции для упаковщика
                                {{ if eq $sortField "PrPackName" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header" style="position: relative; padding-bottom: 13px;">
                            <a href="?sort=PrShortName&order={{ if eq $sortField `PrShortName` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Наименование продукции для этикетки
                                {{ if eq $sortField "PrShortName" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center"
                            style="position: relative; padding-bottom: 13px;">
                            <a href="?sort=PrColor&order={{ if eq $sortField `PrColor` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Цвет
                                {{ if eq $sortField "PrColor" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="?sort=PrRows&order={{ if eq $sortField `PrRows` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Кол-во <br> рядов
                                {{ if eq $sortField "PrRows" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="?sort=PrCount&order={{ if eq $sortField `PrCount` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Кол-во <br> в ряду
                                {{ if eq $sortField "PrCount" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap text-center text-dark">Габариты <br> упаковки</th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="?sort=idProduction&order={{ if eq $sortField `idProduction` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Код <br> продукции
                                {{ if eq $sortField "idProduction" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap sortable-header text-center" style="position: relative;">
                            <a href="?sort=PrEditDate&order={{ if eq $sortField `PrEditDate` }}{{ if eq $sortOrder `ASC` }}DESC{{ else }}ASC{{ end }}{{ else }}ASC{{ end }}"
                               class="text-decoration-none text-dark d-block w-100 h-100">
                                Дата и время <br> изменение записи
                                {{ if eq $sortField "PrEditDate" }}
                                <span class="sort-indicator">
                                    {{ if eq $sortOrder "ASC" }}↑{{ else }}↓{{ end }}
                                </span>
                                {{ end }}
                            </a>
                        </th>

                        <th class="text-nowrap text-center" style="padding-bottom: 13px;">Операции</th>

                    </tr>
                    </thead>
                    <tbody>

                    {{ range .Productions }}
                    <tr>
                        <td>{{ .PrArticle }}</td>
                        <td>{{ .PrPackName }}</td>
                        <td>{{ .PrShortName }}</td>
                        <td class="text-center">{{ .PrColor }}</td>
                        <td class="text-center">{{ .PrRows }}</td>
                        <td class="text-center">{{ .PrCount }}</td>
                        <td>{{ .PrHWD }}</td>
                        <td class="text-center">{{ .IdProduction }}</td>
                        <td>{{ formatDateTime .PrEditDate }}</td>

                        <!-- Кнопки операций -->
                        <td>
                            <div class="d-flex justify-content-center gap-1">
                                <!-- Кнопка редактирования -->
                                <button class="btn btn-sm btn-outline-primary edit-btn px-0 py-0"
                                        title="Редактировать">
                                    <span>✏️</span>
                                </button>
                            </div>
                        </td>

                    </tr>
                    {{ end }}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="alert {{ if eq (len .Productions) 0 }}alert-warning{{ else }}alert-info{{ end }} mt-2 py-1 px-3">
    <i class="bi bi-{{ if eq (len .Productions) 0 }}exclamation-triangle{{ else }}info-circle{{ end }}"></i>
    Всего: {{ len .Productions }}
    <!--    Всего найдено: {{ len .Productions }} вариантов упаковки-->
</div>

{{ end }}